body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    background-color: #1f2837;
    padding: 25px 200px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #8c929e;
}

ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.preface {
    display: flex;
    padding: 75px 0;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.secondary {
    color: #f9faf8;
    font-size: 18px;
}

.first {
    color: #f9faf8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    padding: 5px;
    border: #3882f6;
    border-radius: 7px;
    transition-duration: 0.4s;
    width: 90px;
}

.first:hover {
    background-color: #f9faf8;
    color: #3882f6;
    cursor: pointer;
}

.middle {
    display: flex;
    flex-direction: column;

}

.info {
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    padding: 25px;
}

.pics {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
}

.image {
    flex-wrap: wrap;
    padding: 5px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.text {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
}

.more {
    text-align: center;
}

.quote {
    padding: 50px 300px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.actual {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.person {
    align-self: flex-end;
    color: #1f2937;
    font-weight: bolder;
    font-size: 24px;
}

.sign-up {
    margin: 75px 250px;
    background-color: #3882f6;
    padding: 25px 100px;
    color: #e5e7eb;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.letters {
    display: flex;
    flex-direction: column;
}

.alert {
    font-size: 24px;
    font-weight: bold;
}

.second {
    align-self: center;
    color: #f9faf8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    padding: 5px;
    border: solid 2px #f9faf8;
    border-radius: 7px;
    transition-duration: 0.4s;
    height: 37.5px;
    width: 100px;
}

.second:hover {
    background-color: #f9faf8;
    color: #3882f6;
    cursor: pointer;
}

.footer {
    padding: 25px;
    text-align: center;
    color: #f9faf8;
    background-color: #1f2837;
}